<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237051051855-nl7c0todbjhc1igkiik7s07vuv6ggkfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237051051855-nl7c0todbjhc1igkiik7s07vuv6ggkfq</string>
	<key>API_KEY</key>
	<string>AIzaSyA1S-OS4cDD9EkTu4TaGPbXM1hkUxjWgFM</string>
	<key>GCM_SENDER_ID</key>
	<string>237051051855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orionsBeltTech.restaurent-app-1</string>
	<key>PROJECT_ID</key>
	<string>owldhaka3</string>
	<key>STORAGE_BUCKET</key>
	<string>owldhaka3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237051051855:ios:63235b7f6a11d28cdbcf3a</string>
	<key>DATABASE_URL</key>
	<string>https://owldhaka3.firebaseio.com</string>
</dict>
</plist>